api_key = ADD YOUR API HERE
#ex api_key = apikey&q=  (manually type &q= after pasting api key no space)


key = add your api key here
# example: key = apikey   (do not add &q= after pasting here)
